:root {
	/* General colors */
	--black: rgba(0, 0, 0, 1);
	--white: rgba(255, 255, 255, 1);

	--primary-text-gray: rgba(99, 115, 129, 1);
	--secondary-text: rgba(136, 153, 168, 1);
	--stroke: rgba(223, 228, 234, 1);

	--gray-1: rgba(249, 250, 251, 1);
	--gray-2: rgba(243, 244, 246, 1);
	--gray-3: rgba(229, 231, 235, 1);
	--gray-4: rgba(222, 226, 230, 1);
	--gray-5: rgba(206, 212, 218, 1);
	--gray-6: rgba(206, 212, 218, 1);
	--gray-7: rgba(206, 212, 218, 1);

	--dark-1: rgba(17, 25, 40, 1);
	--dark-2: rgba(31, 42, 55, 1);
	--dark-3: rgba(55, 65, 81, 1);
	--dark-4: rgba(75, 85, 99, 1);
	--dark-5: rgba(107, 114, 128, 1);
	--dark-6: rgba(156, 163, 175, 1);
	--dark-7: rgba(209, 213, 219, 1);
	--dark-8: rgba(229, 231, 235, 1);
	--dark-text: rgba(17, 25, 40, 1);

	--yellow-1: rgba(251, 191, 36, 1);
	--yellow-2: rgba(245, 158, 11, 1);
	--yellow-3: rgba(217, 119, 6, 1);
	--yellow-4: rgba(252, 211, 77, 1);
	--yellow-5: rgba(253, 230, 138, 1);
	--yellow-6: rgba(253, 230, 138, 1);
	--yellow-7: rgba(255, 251, 235, 1);

	--orange-1: rgba(242, 116, 48, 1);
	--orange-2: rgba(225, 88, 14, 1);
	--orange-3: rgba(245, 148, 96, 1);
	--orange-4: rgba(248, 180, 144, 1);
	--orange-5: rgba(251, 213, 192, 1);
	--orange-6: rgba(251, 213, 192, 1);
	--orange-7: rgba(251, 213, 192, 1);

	--red-1: rgba(242, 48, 48, 1);
	--red-2: rgba(225, 14, 14, 1);
	--red-3: rgba(245, 96, 96, 1);
	--red-4: rgba(248, 144, 144, 1);
	--red-5: rgba(251, 192, 192, 1);
	--red-6: rgba(253, 216, 216, 1);
	--red-7: rgba(254, 235, 235, 1);
	--red-8: rgba(254, 243, 243, 1);

	--pink-1: rgba(211, 69, 248, 1);
	--pink-2: rgba(200, 20, 246, 1);
	--pink-3: rgba(223, 118, 250, 1);
	--pink-4: rgba(234, 167, 252, 1);
	--pink-5: rgba(246, 216, 254, 1);
	--pink-6: rgba(252, 241, 254, 1);

	--purple-1: rgba(134, 70, 244, 1);
	--purple-2: rgba(109, 40, 217, 1);
	--purple-3: rgba(109, 40, 217, 1);
	--purple-4: rgba(167, 139, 250, 1);
	--purple-5: rgba(196, 181, 253, 1);
	--purple-6: rgba(221, 214, 254, 1);
	--purple-7: rgba(237, 233, 254, 1);
	--purple-8: rgba(245, 243, 255, 1);

	--blue-1: rgba(45, 104, 248, 1);
	--blue-2: rgba(28, 63, 183, 1);
	--blue-3: rgba(84, 117, 229, 1);
	--blue-4: rgba(128, 153, 236, 1);
	--blue-5: rgba(173, 188, 242, 1);
	--blue-6: rgba(195, 206, 246, 1);
	--blue-7: rgba(225, 232, 255, 1);

	--cyan-1: rgba(1, 169, 219, 1);
	--cyan-2: rgba(11, 118, 183, 1);
	--cyan-3: rgba(24, 191, 255, 1);
	--cyan-4: rgba(119, 209, 243, 1);
	--cyan-5: rgba(208, 240, 253, 1);

	--teal-1: rgba(2, 170, 164, 1);
	--teal-2: rgba(6, 160, 155, 1);
	--teal-3: rgba(32, 217, 210, 1);
	--teal-4: rgba(114, 221, 195, 1);
	--teal-5: rgba(194, 245, 233, 1);

	--green-1: rgba(34, 173, 92, 1);
	--green-2: rgba(26, 130, 69, 1);
	--green-3: rgba(44, 214, 115, 1);
	--green-4: rgba(44, 214, 115, 1);
	--green-5: rgba(130, 230, 172, 1);
	--green-6: rgba(172, 239, 200, 1);
	--green-7: rgba(194, 243, 214, 1);
	--green-8: rgba(218, 248, 230, 1);

	/* BG & text colors */
	--primary: var(--gray-1);
	--secondary: var(--white);

	--primary-text: var(--dark-1);
	--secondary-text: var(--primary-text);

	/* User colors */
	--user-selected-blue: var(--blue-1);
	--user-selected-green: var(--green-1);
	--user-selected-yellow: var(--yellow-1);
	--user-selected-purple: var(--purple-1);
	--user-selected-cyan: var(--cyan-1);
	--user-selected-orange: var(--orange-1);
	--user-selected-teal: var(--teal-1);
	--user-selected-pink: var(--pink-1);

	--user-selected: var(--user-selected-blue);
}

.dark {
	/* BG & text colors */
	--primary: var(--dark-1);
	--secondary: var(--dark-2);

	--primary-text: var(--white);
	--secondary-text: var(--dark-6);
	--dark-text: var(--white);

	--gray-2: var(--dark-3);

	--green-8: var(--dark-3);
	--green-2: var(--green-1);
}

.custom-scrollbar::-webkit-scrollbar {
	@apply w-2 rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	@apply rounded-full bg-gray-500;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	@apply bg-gray-700;
}
