
/* TODO add dark / light shcema */
:root {
  /* Your default theme */
  --background: rgba(255, 255, 255, 1);
}

:is(.dark, .dark-theme) {
  --background: rgba(31, 42, 55, 1);
}

.radix-themes {
  --cursor-button: pointer;
  --cursor-checkbox: pointer;
  --cursor-disabled: default;
  --cursor-link: pointer;
  --cursor-menu-item: pointer;
  --cursor-radio: pointer;
  --cursor-slider-thumb: grab;
  --cursor-slider-thumb-active: grabbing;
  --cursor-switch: pointer;
}