html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

td {
  padding: 0;
}

.hide-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.dark input {
  color-scheme: dark;
}